.users {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: white;
    border-radius: 1em;
}

.card {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin: 10px;
    padding: 5px;
    border: 2px solid black;
    border-radius: 0.5em;
}

.selectedPage {
    font-weight: bold;
    margin: 0 8px;
}

