.formControl {

}

.formControl.error input,
.formControl.error textarea {
    border: 2px solid red;
}

.formControl.error span {
    color: red;
}

.formSummaryError {
    border: 2px solid red;
    margin: 10px;
    padding: 2px;
    width: max-content;
}