.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.userImage {
    max-height: 15em;
    margin: 1em;
}

.addPhoto:hover {
    filter: opacity(50%);
    cursor: pointer;
}

.status {
    margin-left: 1em;
}

.buttonEditMode {
    margin-top: 20px;
}

.contacts {
    margin-left: 20px;
}