.head {
    background: #4d6da9;
    height: 40px;
    grid-area: head;
    border-radius: 1em;
}

.head img {
    width: 30px;
    margin: 5px 0 0 5px;
}

.loginBlock {
    float: right;
    margin: 0.5em;
    color: white;
}

.button {
    border: 0;
    border-radius: 1em;
    cursor: pointer;
}

.login {
    color: white;
    text-decoration: none;
}