.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr ;
}

.dialogsItems {
padding: 10px;
}

.dialog {
    margin: 5px 0;
}

.dialogsItems .active {
    color: #3eeac9;
}

.messages {
padding: 10px;

}

.message {
    margin: 5px 0;
}