.ul {
    list-style-type: none;
    margin: 0;
    background: #0505f3;
    padding: 15px;
    grid-area: nav;
}

.ul a{
    display: block;
    text-decoration: none;
    color: #ffffff;
}

.ul a:hover {
    color: #f80707;
}

.ul a.active {
    color: #3eeac9;
}