.page {
    margin: 0;
    background: white;
    padding: 15px;
    grid-area: nav;
    border-radius: 1em;
}

.ul {
    list-style-type: none;
    padding: 0;
}

.ul a{
    display: block;
    text-decoration: none;
}

.ul a:hover, a.active {
    color: #005aff;
}
